@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #efeeec;
  --color-secondary: #b2f6e3;
  --color-accent: #ffffff;
  --color-neutral: #1e1f1f;
  
  --font-inter: "Inter", sans-serif;
}

.color {
  color: #efeeec;
  color: #b2f6e3;
  color: #ffffff;
  color: #1e1f1f;
}

@layer base {
  :root {
    font-family: var(--font-inter);
  }

  body {
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    background-color: #efeeec;
    padding: 10px;
  }
}

@layer components {
  .btn-sweep {
    @apply relative overflow-hidden px-8 py-3 rounded-full flex items-center justify-center transition-all duration-500 bg-white text-black;
  }

  .btn-sweep:hover {
    @apply bg-black text-white;
  }

  .sweep-text {
    @apply relative inline-block overflow-hidden h-[24px] leading-[24px];
  }

  .sweep-text span {
    @apply block transition-transform duration-500 ease-in-out;
  }

  .btn-sweep:hover .sweep-text span {
    @apply -translate-y-full;
  }
}